<div id="header">
  {{link-to "####" "settings"}}
</div>

<div id="whatsapp">

  <div class="text text_l">
    I don't think we are in Kansas anymore.
  </div>

  <div class="text text_r">
    With great power comes great responsibility
  </div>

  <div class="text text_l">
    I vant to suck your blood!
  </div>

  <img class="received" src="cwolf.jpg"/>

  <div class="text text_r">
    We're going to need a bigger boat
  </div>

  <div class="text text_l">
    Mirror, mirror, on the wall, who is the fairest of them all?
  </div>

  <div class="text text_r">
   Get your stinkin' paws off me, you damn dirty ape!
  </div>

  <img class="sent" src="skid.jpg"/>

  <div class="text text_r">
    Elementary, My Dear Watson
  </div>

  <div class="text text_l">
    Beam me up, Scotty
  </div>

  <div style="clear: both;"></div>

</div>

<div id="input">
  huehuehue
</div>
